@font-face {
    font-family: "edosz";
    src: url("./fonts/edosz.ttf") format("truetype");
  }
@font-face {
  font-family: "NewYork";
  src: url("./fonts/Chomsky-399c.woff") format("truetype");
}
.Title{
    font-family: "NewYork";
}



